<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artistry South - Home</title>
    <link rel="stylesheet" href="../static/web.css">
</head>
<body>
    <!-- Navigation Bar -->

    <!-- Hero Section -->
    <section class="hero">
        <div class="hero-text">
            <h1>Explore the Rich <br> Arts of South India</h1>
            <p>
                Welcome to our gallery, where we celebrate the vibrant arts and crafts of South Indian states.
                Discover unique pieces that reflect the rich cultural heritage and craftsmanship of the region.
            </p>
            <div class="hero-buttons">
                <a href="./explore.html" class="btn hero-btn explore-btn">Explore</a>
            </div>
        </div>
        <div class="hero-image">
            <div class="image-placeholder1"><img src="../assets/images/kerala.jpg"></div>
            <div class="image-placeholder2"><img src="../assets/images/telangana1.jpg"></div>
            <div class="image-placeholder3"><img src="../assets/images/tamilnadu.jpg"></div>
        </div>
    </section>
</body>
</html>
